<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
<div class="row column">
<br>
<img class="thumbnail" src="/images/avatar.png">
<h5>Tran Thi Kim Ngan</h5>
<p>As an Information Systems student at UIT – VNU-HCM, I focus on developing intelligent systems using AI and deep learning. I have hands-on experience in scientific research,  experimental model deployment, and actively contribute to both university-level and international projects.</p>
</div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-large">
<div class="title-bar-left">
<button class="menu-icon" type="button" data-open="my-info"></button>
<span class="title-bar-title">Mike Mikerson</span>
</div>
</div>
<div class="callout primary">
<div class="row column">
<div style="display: flex; justify-content: space-between; align-items: center;">
<div>
<h1>This portfolio presents the work and accomplishments of Kim Ngân</h1>
<p class="lead">Welcome to my portfolio. Here, I present selected projects and research experiences that reflect my journey as an Information Systems student passionate about artificial intelligence. My work focuses on applying deep reinforcement learning, natural language processing, and computer vision to solve real-world problems. Through these projects, I aim to bridge academic research and practical applications in AI.</p>
</div>
<a href="/admin" class="button" style="height:40px;align-self:flex-start;">Admin Area</a>
</div>
</div>
</div>
<div class="padding row small-up-2 medium-up-3 large-up-4">
{{{body}}}
</div>
<hr>
</div>
</div>
</div>

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>